flask
numpy
opencv-contrib-python-headless==4.10.0.84
pandas
Pillow
demjson3
appdirs
attrs
black
click
cycler
kiwisolver
matplotlib
nose
pyparsing
python-dateutil
pytz
six
toml
virtualenv
xlrd
xmltodict
yagmail
yapf